[user]
  name = Torben Christ   
  email = torben.christ@freudenberg.com
[apply]
  whitespace = fix
[alias]
  a = add
  br = branch
  ci = commit
  cl = clone
  co = checkout
  df = diff
  g = grep -I
  lg = log -p
  ph = push
  pl = pull
  pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
  rb = rbranch
  rv = review
  st = status
  ksdiff = difftool -y -t Kaleidoscope
[branch "main"]
  remote = origin
  merge = refs/heads/main  
[color]
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = 11
  frag = magenta bold
  old = red bold
  new = green bold
  func = 146 bold
  commit = yellow bold
  whitespace = red reverse
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[init]
  defaultBranch = main
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
  diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[diff-so-fancy]
	stripLeadingSymbols = true
	changeHunkIndicators = true
